<div class="container">
  <h3>Even Todos</h3>
  <ul>
    <li *ngFor="let todo of evenTodos$ | async">
      {{ todo.id }} - {{ todo.title }}
    </li>
  </ul>

  <hr />

  <h3>Random Todo Fetcher</h3>
  <button #randomBtn>Fetch Random Todo</button>
  <div *ngIf="randomTodo$ | async as todo">
    <p>Fetched: {{ todo.title }} (ID: {{ todo.id }})</p>
  </div>

  <hr />

  <h3>Todo Counter Store</h3>
  <button (click)="decrement()">-</button>
  <span> {{ counter$ | async }} </span>
  <button (click)="increment()">+</button>

  <div *ngIf="counterTodo$ | async as cTodo">
    <p>Current Counter Todo: {{ cTodo.title }}</p>
  </div>
</div>
